@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
@font-face {
    font-family: "Amore Elegant";
    src: url(font/amore.otf);
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #A60F2B;
    --fundo: rgba(102, 56, 56, 0.295);
}

h1{
    font-family: "Bigelow Rules";
    font-size: 5em;
    color: var(--cor1);
    margin-left: 0.8em;
    margin-top: 0.1em;
}

header{
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    background-color: #FCFBFC;
}

body{
    background-color: var(--fundo);
}

div{
    padding: 30px;
    width: 500px;
}
div.quadro1{
margin-left: 60px;
margin-top: -20px;
}
div > p{
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
}

div > h5{
    font-size: 2em;
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: "Amore Elegant";
    width: 700px;
    margin-left: -90px;
}

img{
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 8px black;
    cursor: pointer;
}

div#quadro2{
margin-left: 1050px;
margin-top: -690px;
}
div#quadro2 > p{
    margin-left: -60px;
}
div#quadro2 > img{
max-width: 450px;
    max-height: 350px;
    width: auto;
    height: auto;
}
div#quadro2 > h5{
    margin-left: -8px;
    width: 449px;
}

div#quadro3{
    width: 600px;
}

div#quadro3 > h5{
    margin-left: 0px;
}

div#quadro3 > p{
    margin-left: 100px;
}

div#quadro4{
    margin-left: 900px;
    margin-top: -745px;
    width: 600px
}

div#quadro4 > h5{
    margin-left: -5px;
    width: 680px;
}
div#quadro4 > p{
    margin-left: 100px;
}

div#quadro5{
    width: 500px;
}

div#quadro5 > img{
    margin-left: 100px;
}
div#quadro5 > h5{
    width: 400px;
    margin-left: 60px;
}

div#quadro6{
    width: 650px;
    margin-left: 900px;
    margin-top: -885px;
}
div#quadro6 > h5{
    width: 600px;
    margin-left: 0px;
}
div#quadro6 > p{
    margin-left: -10px;
    text-align: left;
}